/* color codes
Coolblue blue: 0090e3
Coolblue orange: FF6600
Dark blue: 285DAB
Light blue: CCE9F9
Light grey: f2f7fc
*/

.reportTable th {
	display: none !important;
}

.reportTable td {
	font-family: Open Sans;
  	font-size: 12px;
	color: #F2F7FC !important;
	background-color: #0090e3 !important;
}
